<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="">    
    <title>Centro Médico</title>
</head>
<body>
    <header>
        <section>
            <div>
                <h1> IDW S.A. </h1>
            </div>
        </section>
    </header>
    <main>
        <section>
            <p>
                Somos una institución especializada en medicina integral desde hace ya más de 20 años.
                Contamos con profesionales altamente comprometidos con la evolución y capacitación permanente, con
                el objetivo de brindar la mejor atención a nuestros pacientes. 
                También contamos con equipamiento de última generación, habitaciones compartidas, privadas, servicios
                de guardias para adultos y niños y departamentos avocados exclusivamente a la especialidad desarrollada.
                Confiamos en que nuestra página nos brinde una mayor cercanía con nuestros pacientes y les permita conocernos, 
                estar al día con las novedades y poner a disposición todas las conexiones con nuestros centros de atención.
            </p>
        </section>
    </main>
    <footer class="container-footer">
        <p class="mark-copyrights">© IDW S.A.</p>
    </footer>
</body>
</html>