body {
    background: linear-gradient(135deg, #e0f7fa, #ffffff);
}


.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,0.2);
}

#listaObrasSociales {
    display: none;
}

#listaObrasSociales.show {
    display: block;
}


.dropdown-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
